body {
   background-size: 100% 100%;
   display: flex;
   align-items: center;
   flex-direction: column;
}
h1{
   text-align: center;
   font-size: 60px;
   color: black;
}
#div1 {
   color: pink;
   font-size: 20px;
}
#div2 {
    color: blueviolet;
    font-size: 30px;
 }
 #div3 {
    color: olivedrab;
    font-size: 40px;
 }
 
 div:hover {
	font-weight: bold;
}